<!-- app/templates/login_activity.html -->
<html>

<head>
  <style>

  </style>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
</head>

<body>
  {% include "changeclient.html" %}

<div style="float: left;">
  <div style="width: 60%;" style="float: left;">
    <table id="datatable" class="display">
      <thead>
        <tr>
          <th>Emails</th>
          <th>Count</th>
        </tr>
      </thead>
    </table>
  </div>
  <div id="graph" style="float: left;"></div>
</div>
  <script>

    var data = JSON.parse('{{ data|escapejs }}');

    console.log(data)
    $(document).ready(function () {


      $('#datatable').DataTable({
        order: [[1, "desc"]],
        data: data,
        columns: [
          { title: 'User' },
          { title: 'Count' }
        ]
      });

      $('tr').click(function () {
        $(this).find('td:first').each(function () {
          console.log($(this).text())

          var x = $(this).text()
          // if (currentChart) {
          //   // Remove the previous chart
          //   currentChart.destroy();
          // }
          $.ajax({
            url: '/login-activity/user',
            method: 'GET',
            data: {
              x: x
            },
            success: function (response) {
              var data = response
              console.log(data)

              var dates = Object.keys(data);
              var counts = Object.values(data);

              // Create the Highcharts graph
              Highcharts.chart('graph', {
                chart: {
                  type: 'column'
                },
                title: {
                  text: 'Graph Title'
                },
                xAxis: {
                  categories: dates,
                  title: {
                    text: 'Dates'
                  }
                },
                yAxis: {
                  title: {
                    text: 'Count'
                  }
                },
                series: [{
                  name: 'Counts',
                  data: counts
                }]
              });


            }
          }


          )
        });
      })
    })
  </script>

</body>

</html>