<!-- usage_graph.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Usage Graph</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>

        /* #graph {
            width: 600px;
            height: 400px;
        } */

    
    </style>
</head>

<body>

    {% include "changeclient.html" %}

    <!-- <form method="POST" action="{% url 'client_usage_graph' %}">
        {% csrf_token %}
        <label for="client_name">Client Name:</label>
        <select name="client_name" id="client_name">
            <option value="" disabled selected>Select Client</option>
            <option value="Reliable Kota">Reliable Kota</option>
            <option value="Keystone Universe of Education">Keystone Universe of Education</option>
            <option value="Shanti Asiatic School">Shanti Asiatic School</option>
            <option value="Vyas Edification">Vyas Edification</option>
            <option value="PCCP Reliable Kota">PCCP Reliable Kota</option>

        </select>
        <br>
        <br>
        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date" required>
        <br>
        <br>
        <input type="submit" value="Generate Graph">
        <h2>Usage Graph</h2>

    <div id="graph"></div>
    </form> -->
    <h1>Login Activity of {{ request.session.client}}</h1>

    <div id="graph"></div>

    <script>
        var graphData = JSON.parse('{{ graph_data_json|escapejs }}');
        console.log(graphData)
        var xData = graphData.map(function (item) {
            return item.date;
        });

        var yData = graphData.map(function (item) {
            return item.count;
        });
        console.log(xData)
        console.log(yData)
        var data = [{
            x: xData,
            y: yData,
            type: 'bar'
        }];

        var layout = {
            title: 'Seven Days Usage Graph',
            xaxis: {
                title: 'Date'
            },
            yaxis: {
                title: 'Login Count'
            }
        };

        Plotly.newPlot('graph', data, layout);
    </script>

</body>

</html>