<!DOCTYPE html>
<html>

<head>
    <title>Time Spent</title>
    <style>
       
    </style>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
</head>

<body>
    {% include "changeclient.html" %}
<br><br>
    <!-- <br>
    <br>
    <form method="POST" onsubmit="return validateForm()" name="timespentForm">
        {% csrf_token %}
        <label for="user_id">User ID:</label>
        <input type="text" name="user_id" required><br><br>
        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date" required><br><br>
        <input type="submit" value="Generate Graph">
        <div class="graph-container">
            <h1>Time Spent Graph</h1>
            <p>User: {{ user_id }}</p>
            <p>Start Date: {{ date }}</p>
            <img src="/static/{{ graph_image }}" class="graph-image" alt="Login Activity Graph">
        </div>
    </form> -->
    <table id="datatable" class="display">
        <thead>
            <tr>
                <th>ObjectId</th>
                <th>Timedelta</th>
            </tr>
        </thead>
    </table>
    <script>
        
        var data = JSON.parse('{{ data|escapejs }}');

        console.log(data)
        $(document).ready(function () {
            $('#datatable').DataTable({
                "order":[[1,'desc']],
                data: data,
                columns: [
                    { title: 'User' },
                    { title: 'Time spent (Hrs)' }
                ]
            });
        });
    </script>

</body>

</html>