<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a {
            padding: 40px;
            margin: 10px;
            background-color: aquamarine;
            /* float: left; */
            display: inline-block;
            text-decoration: none;
            border-radius: 10px;
            font-size: 24px;
        }
    </style>
</head>

<body>
    <a href="{% url 'activeuser' %}">Active Users</a>
    <br>
    <a href="{% url 'login_activity' %}">Login Activity of User</a>
    <br>
    <a href="{% url 'session_time' %}">Time Spent By User</a>
    <br>
    <a href="{% url 'client_usage_graph' %}">Login Activity of Client</a>
    <br>
    <a href="{% url 'client_session' %}">Session Time of Client</a>


    
</body>

</html>