<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% include "changeclient.html" %}

    <h1>welcome to phases</h1>

    <form action="" method="POST">
        {% csrf_token %}
        <h3>Select Phase</h3>
        <select name="phase" id="phase">
            {% for phase in phases %}
            <option value="{{ phase }}">{{ phase }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>


</body>

</html>